.bg-container{
    background-image: url("https://media.istockphoto.com/id/1076840920/vector/music-background.jpg?s=612x612&w=0&k=20&c=bMG2SEUYaurIHAjtRbw7bmjLsXyT7iJUvAM5HjL3G3I=");
    height:100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.heading{
    color:white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.para{
    color: white;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 30px;
}
.b1{
    padding:15px;
    padding-left:25px;
    padding-right: 25px;
    background-color: #FFDEA9;
    margin:10px;
    border-radius:25px;
}
.b2{
    padding:15px;
    padding-left:25px;
    padding-right: 25px;
    background-color: transparent;
    border-color: white;
    border-width: 2px;
    font-weight: bolder;
    color: white;
    margin:10px;
    border-radius:25px;
    border-style: solid;

}